@import 'mixin.scss';

.content {
    margin-bottom: 150px;
    &__top {
        margin-bottom: $size5;
    }
    &__title {
        position: relative;
        padding-left: 25px;
        @include captionFont;
        margin-bottom: $size5;
    }
    &__link {
        position: absolute;
        @include flexCenter;
        width: 20px;
        height: 20px;
        top: 43%;
        transform: translateY(-50%);
        left: 0;
        svg {
            color: #2D87E2;
            transition: color .3s ease;
        }
        &:hover {
            svg: {
                color: #5d89b6;
            }
        }
    }
}

.add {
    @include flexCenter;
    justify-content: flex-start;
    margin-bottom: $size4;
    &__label {
        @include flexCenter;
        width: 100%;
    }
    &__input {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: $size1 $size4;
        margin-right: $size4;
        border-radius: 40px;
        border: $border;
        width: 100%;
        outline: 0;
        @include captionFont;
        color:$textColor;
        background-color: transparent;
        transition: background-color 0.3s ease;
        &::placeholder {
            color:$textColor;
        }
        &:hover, &:focus-within {
            background-color: transparent; 
        }
    }
    &__btn {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: $size1 $size4;
        transition: background-color 0.3s ease;
        background-color: $primaryColor-3;
        border-radius: 40px;
        border: 0;
        @include captionFont;
        color:$whiteColor;
        transition: background-color .3 ease;
        &:hover, &:focus-within {
            background-color: $primaryColor; 
        }
    }
}