
@import 'common.scss';
@import 'header.scss';
@import 'form.scss';
@import 'checkbox.scss';

body {
  background-color: $backgroundColor;
  color: $textColor;
}

h1 {
  font-weight: bold;
  font-size: 2.3rem;
  text-align: center;
}

h2 {
  font-size: 2rem;
  padding-bottom: $size1;
}

#__nuxt {
  .teleport-modal {
    &__content {
      background-color: $backgroundColor;
      min-width: 500px;
    }
  }
}


.confirm {
  display: flex;
  flex-wrap: wrap;

  &__title {
    width: 100%;
    margin-bottom: $size4;
  }

  &__button-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__btn {
    width: 40%;
    height: $size5;
  }
}

.add {
  @include flexCenter;
  justify-content: flex-start;
  margin-bottom: $size4;
  &__label {
      @include flexCenter;
      width: 100%;
  }
  &__input {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: $size1 $size4;
      margin-right: $size4;
      border-radius: 40px;
      border: $border;
      width: 100%;
      outline: 0;
      @include captionFont;
      color:$textColor;
      background-color: transparent;
      transition: background-color 0.3s ease;
      &::placeholder {
          color:$textColor;
      }
      &:hover, &:focus-within {
          background-color: transparent;
      }
  }
  &__btn {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: $size1 $size4;
      transition: background-color 0.3s ease;
      background-color: $primaryColor-3;
      border-radius: 40px;
      border: 0;
      @include captionFont;
      color:$whiteColor;
      transition: background-color .3 ease;
      &:hover, &:focus-within {
          background-color: $primaryColor;
      }
  }
}
