@import 'common.scss';
@import 'header.scss';
@import 'form.scss';
@import 'checkbox.scss';

body {
  background-color: $backgroundColor;
  color: $textColor;
}

h1 {
  font-weight: bold;
  font-size: 2.3rem;
  text-align: center;
}

h2 {
  font-size: 2rem;
  padding-bottom: $size1;
}

#__nuxt {
  .teleport-modal {
    &__content {
      background-color: $backgroundColor;
      min-width: 500px;
    }
  }
}


.confirm {
  display: flex;
  flex-wrap: wrap;

  &__title {
    width: 100%;
    margin-bottom: $size4;
  }

  &__button-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__btn {
    width: 40%;
    height: $size5;
  }
}

.add {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: $size4;

  &_error {
    .add {
      &__user-name {
        color: rgb(199, 23, 23)
      }
    }
  }

  &__title {
    margin-bottom: 2rem;
  }

  &__label {
    @include flexCenter;
    width: 100%;
  }

  &__input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $size1 $size4;
    border-radius: 1rem;
    border: $border;
    width: 100%;
    outline: 0;
    @include captionFont;
    color: $textColor;
    background-color: transparent;
    transition: border-color .3s ease;

    &::placeholder {
      color: $textColor;
    }

    &:hover,
    &:focus-within {
      border-color: $primaryColor;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $size1 $size4;
    transition: background-color 0.3s ease;
    background-color: $primaryColor-3;
    border-radius: 40px;
    border: 0;
    @include captionFont;
    color: $whiteColor;
    transition: background-color .3 ease;

    &:hover,
    &:focus-within {
      background-color: $primaryColor;
    }
  }

  &__users {
    position: absolute;
    top: calc(100% + 1rem);
    left: -5%;
    width: 110%;
    padding: 1rem;
    max-height: 35rem;
    overflow-y: auto;
    .users {
      &__item {
        &:hover {
          &::before {
            opacity: 1;
          }

          .users {
            &__name {
              color: $whiteColor;
            }
          }

        }
      }

      &__name {
        width: 85%;
      }
    }
  }
}

.users {
  z-index: 3;

  &__wrapper {
    max-height: 50rem;
    margin-bottom: 20rem;
    border-radius: 1rem;
    padding: 1rem;
  }
  &__list {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    padding-top: 1.3rem;
    width: 100%;
    border-radius: 1rem;
    background-color: $backgroundColor;
    box-shadow: 0px 0px 5px 3px rgba(197, 197, 197, 0.49);
    &_friends {
      .users {
        &__item {
          &:hover {
            &::before {
              opacity: 1;
            }

            .users {
              &__name {
                color: $whiteColor;
              }
            }

          }
        }

        &__name {
          width: 85%;
        }
      }
    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    border-radius: 1rem;
    padding: 5px;
    z-index: 1;
    cursor: pointer;
    &::before {
      position: absolute;
      content: '';
      top: -4%;
      left: -4%;
      bottom: 0;
      right: 0;
      width: 108%;
      height: 108%;
      background-color: $primaryColor;
      border-radius: .5rem;
      opacity: 0;
      z-index: -1;
      transition: opacity .1s ease;
    }

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &__photo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .8rem;
    width: 10%;

    img {
      height: 4.42rem;
      width: 4.42rem;
      border-radius: .8rem;
      border: 1px solid rgba(0, 0, 0, 0.11);
    }

  }
  &__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 70%;
    .users {
      &__name {
        width: 100%;
      }
    }
  }
  &__name {
    transition: color .1s ease;
    @include captionFont;
    &_friends {
      width: 85%;
    }
  }
  &__sex {
    width: 30%;

  }
  &__age {
    width: 30%;

  }
  &__friends {
    width: 30%;
    &_error {
      color:rgb(199, 23, 23)
    }
  }
  &__remove {
    width: 15%;
  }
}

.content {
  &__title {
    margin-bottom: 2rem;
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  border: $border;
  outline: 0;
  padding: .3rem;
  transition: background-color .1s ease, color .1s ease, border-color .1s ease;
  color:$textColor;
  cursor: pointer;
  &_back {
    width: 20rem;
    margin-bottom: 1rem;
    font-size: 1.8rem;
  }

  &:hover {
    background-color: $primaryColor-2;
    border-color: $primaryColor-2;
    color: $backgroundColor;
  }

  &:active {
    background-color: $primaryColor-5;
    border-color: $primaryColor-5;
  }
}


.build-btn {
  width: 75%;
  font-size: 1.5rem;
  margin: 2rem auto;
}


.wall {
  margin-top: 2rem;
  margin-bottom: 2rem;
  &__list {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    padding-top: 1.3rem;
    width: 100%;
    border-radius: 1rem;
    background-color: $backgroundColor;
    box-shadow: 0px 0px 5px 5px rgba(197, 197, 197, 0.6);
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    border-bottom: $border2;
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
}
