

.tab-link {
    display: flex;
    align-items: center;
    &__list {
        display: flex;
        align-items: center;
    }
    &__item {
        margin-right: $size5;
        border-bottom: 1px dashed currentColor;
        font-weight: 500;
        font-size: $size3;
        line-height: 100%;
        color: $primaryColor-3;
        transition: color .3 ease;
        &:hover {
            color: $thirdTextColor;
        }
        &--active {
            color: $thirdTextColor;

        }
    }
}