$border: 2px solid
  rgba(
    $color: #000000,
    $alpha: 1
  );
  
$border2: 1px solid #E3EFF9;

$size1: .5rem;
$size2: 1rem;
$size2-2: 1.17rem;
$size3: 1.5rem;
$size4: 2rem;
$size4-2: 2.7rem;
$size5: 3rem;
$size6: 4rem;
$size7: 5rem;

$whiteColor: #fff;
$backgroundColor: #F5F5F5;
$textColor: #000000;
$primaryColor: #0077FF;
$primaryColor-2: #7cb3f3;
$primaryColor-3: #4185d3;
$primaryColor-4: #a2caf7;
$primaryColor-5: #0468db;
$secondTextColor: #D1DCE5;
$thirdTextColor: #233B4C;
$fourthTextColor: #636363;
